
:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --primary-color: #4D5AE5;
    --primary-color-dark: #404BBF;
    --secondary-color: #E7E9FC;
    --bg-color: #F4F4FD;
    --bg-body: #ffffff;
    }

body {
    background: var(--bg-body);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    }

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* logo */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo.web {
    color: var(--primary-color);
}

/* Site nav */

.nav-link {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-color-dark);
}

.link.current {
    color: var(--primary-color);
}

/* Contacts in header */

.header-contacts {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: var(--title-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--primary-color);
}

/* Hero */

/* h1 */
.hero-title {
    color: var(--bg-body);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero {
    background-color: var(--primary-text-color);
}

/* Button */
.button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--bg-body);
    border: none;
    cursor: pointer;
}

.button.primary {
    background-color: var(--primary-color);
}

.button.primary:focus,
.button.primary:hover,
.button.filter:focus,
.button.filter:hover {
    color: var(--bg-body);
    background-color: var(--primary-color-dark);
}   

.button.filter {
    color: var(--primary-color);
    background-color: var(--secondary-color);

}

/* section */ 

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.list-item {
    font-weight: 500;
    font-size: 20px;
    color: var(--primary-text-color);
    line-height: 1.2;
    letter-spacing: 0.02em;
}


/* p for text */
.title-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-cards {
    background-color: var(--bg-color);
}

.card-color {
    background-color: var(--bg-body);
}

/* Footer */
.footer-page {
    background-color: var(--primary-text-color);
    color: var(--secondary-color);
}

.footer-page .link,
.footer-page .title-text {
    color: var(--secondary-color);
}

/* other */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}